## Problem Set 2

## Data Programming

#### Question 1

In [58]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

#### Question 2

In [1]:
def file_length(file_name):
    file = open(file_name)
    contents = file.read()
    file.close()
    print(len(contents))
    
try:
    fileLength('midterm.py')
except:
    print("File midterm.py not found.")

File midterm.py not found.

#### Question 3

In [2]:
class Marsupial:
    def __init__(self):
        self.pouch_contents = []
    def put_in_pouch(self,obj):
        self.pouch_contents.append(obj)

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents

In [3]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        self.x = x
        self.y = y
        Marsupial.__init__(self)
    def jump(self, dx, dy):
        self.dx = dx
        self.dy = dy
        self.x = self.x + self.dx
        self.y = self.y + self.dy
    def __str__(self):
        x_to_str = str(self.x)
        y_to_str = str(self.y)
        string = str("I am a Kangaroo located at coordinates (" + x_to_str + "," + y_to_str + ")." )
        return string
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0).

In [4]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents

['doll', 'firetruck', 'kitten']

In [5]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0).

#### Question 4

In [6]:
def collatz(x):
    if x != 1:
        print(int(x))
    if x % 2 ==0:
        if x==1:
            return 1
        else:
            return collatz(x/2)
    if x % 2 != 0:
        if x ==1:
            return 1
        else:
            return collatz(3 * x + 1)

In [7]:
print(collatz(1))

1

In [8]:
print(collatz(10))

10
5
16
8
4
2
1

#### Question 5

In [9]:
def binary(number):
    if number<0:
        try:
            binary(number)
        except:
            print("Number must be non negative.")
    elif number == 0:
        return 0        
    else:
        return (number % 2 + 10 *
                binary(int(number // 2)))

In [10]:
binary(0)

0

In [11]:
binary(1)

1

In [12]:
binary(3)

11

In [13]:
binary(9)

1001

#### Question 6

In [37]:
from urllib.request import urlopen
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
        
    def __init__(self):
        HTMLParser.__init__(self)
        self.intent = 0
        self.h_I=False
        self.c_i=[]
    def handle_starttag(self, tag, attrs):
        if tag=="h1" or tag=="h2":
            print('{}{} start'.format(self.intent*'',tag))
            self.intent+=4
    def handle_data(self,data):
        if self.h_I==True:
            self.c_l.append(data)
    def handle_endtag(self, tag):
        if tag=="h1" or tag=="h2":
            self.h_I=False
            print('{}{} end'.format(self.intent*'',tag))
    def getheadings(self):
        return self.c_l

In [43]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

h1 start
h1 end
h2 start
h2 end

In [57]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']

    
    def handle_starttag(self, tag, attrs):
        if tag in self.headers:
            print(tag)

    def handle_endtag(self, tag):
        if tag in self.headers:
            print(tag)

    def handle_data(self, data):
        print(data)

# TEST HERE
parser = HeadingParser()
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

Change_me














h1
W3C Mission
h1


h2
Principles
h2

#### Question 7

In [55]:
from urllib.request import urlopen
response = urlopen('http://reed.cs.depaul.edu/lperkovic/test1.html')
print(type(response))

print(response.geturl())

for header in response.getheaders():
    print(header)
    
html = response.read()
print(type(html))
html = html.decode()
print(type(html))

html

<class 'http.client.HTTPResponse'>
http://reed.cs.depaul.edu/lperkovic/test1.html
('Set-Cookie', 'JSESSIONID=65B1A45CB5DBF0D8E6476177937E0CDC; Path=/; HttpOnly')
('Accept-Ranges', 'bytes')
('ETag', 'W/"339-1583351865000"')
('Last-Modified', 'Wed, 04 Mar 2020 19:57:45 GMT')
('Content-Type', 'text/html')
('Content-Length', '339')
('Date', 'Tue, 22 Feb 2022 22:45:31 GMT')
('Connection', 'close')
<class 'bytes'>
<class 'str'>

'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">\n<html>\n<head>\n  <title>Test page</title>\n</head>\n<body>\n<h2> Hello World </h2>\n<a href="http://reed.cs.depaul.edu/lperkovic/test2.html"> Link\nto test2.html </a>\n<p> <a href="test3.html"> Link to test3.html</a><br>\n</p>\n<p>Paris Paris Paris<br>\nTokyo<br>\n</p>\n</body>\n</html>\n'

#### Question 8

In [15]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\palak\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\palak\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\palak\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\palak\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Requirement already satisfied: prettytable<1 in c:\users\palak\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\palak\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\users\palak\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\palak\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: setuptools>=18.5 in c:\users\palak\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: backcall in c:\users\palak\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\palak\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pygments in c:\users\palak\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: decorator in c:\users\palak\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: pickleshare in c:\users\palak\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\palak\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\palak\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\palak\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\palak\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\palak\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)

In [16]:
%%capture
%load_ext sql
%sql sqlite3:///bdat.db

In [19]:
import sqlite3
connection = sqlite3.connect("gfg.db")
  
# cursor
crsr = connection.cursor()
  
# SQL command to create a table in the database
sql_command ="""
CREATE TABLE weather2
(
City text,
Country text,
Season text,
Temperature real,
Rainfall real
)"""

crsr.execute(sql_command)

In [20]:
sql_command = """INSERT INTO weather2 VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9 );"""
crsr.execute(sql_command)
sql_command = """INSERT INTO weather2 VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2 );"""
crsr.execute(sql_command)
sql_command = """INSERT INTO weather2 VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4 );"""
crsr.execute(sql_command)
sql_command = """INSERT INTO weather2 VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0 );"""
crsr.execute(sql_command)
sql_command = """INSERT INTO weather2 VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7 );"""
crsr.execute(sql_command)
sql_command = """INSERT INTO weather2 VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6 );"""
crsr.execute(sql_command)
sql_command = """INSERT INTO weather2 VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0 );"""
crsr.execute(sql_command)
sql_command = """INSERT INTO weather2 VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5 );"""
crsr.execute(sql_command)
sql_command = """INSERT INTO weather2 VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5 );"""
crsr.execute(sql_command)
sql_command = """INSERT INTO weather2 VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5 );"""
crsr.execute(sql_command)
sql_command = """INSERT INTO weather2 VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1 );"""
crsr.execute(sql_command)
sql_command = """INSERT INTO weather2 VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5 );"""
crsr.execute(sql_command)
connection.commit()

In [21]:
crsr.execute("SELECT * FROM weather2")

ans = crsr.fetchall()

for i in ans:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [22]:
crsr.execute("SELECT Temperature FROM weather2")
crsr.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [23]:
crsr.execute("SELECT DISTINCT City FROM weather2 ")
crsr.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [24]:
crsr.execute("SELECT * FROM weather2 WHERE weather2.Country = 'India' ")
crsr.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [25]:
crsr.execute("SELECT * FROM weather2 WHERE weather2.Season = 'Fall' ")
crsr.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [27]:
crsr.execute("SELECT City, Country, Season FROM weather2 WHERE weather2.Rainfall >200 AND weather2.Rainfall <400 ")
crsr.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [28]:
crsr.execute("SELECT City, Country FROM weather2 WHERE weather2.Season = 'Fall' AND weather2.Temperature >20 ")
crsr.fetchall()

[('Mumbai', 'India'), ('Cairo', 'Egypt')]

In [29]:
crsr.execute("SELECT SUM(weather2.Rainfall) FROM weather2 WHERE weather2.City = 'Cairo' ")
crsr.fetchall()

[(27.6,)]

In [30]:
crsr.execute("SELECT SUM(weather2.Rainfall) FROM weather2 GROUP BY weather2.Season")
crsr.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

#### Question 9

In [31]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [32]:
words_uppercase = [item.upper() for item in words] 
words_uppercase

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [33]:
words_lowercase = [item.lower() for item in words] 
words_lowercase

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [34]:
words_length = [len(item) for item in words] 
words_length

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [35]:
words_list = [[item.upper(), item.lower(), len(item)] for item in words]
words_list

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [36]:
words_4 = [item for item in words if len(item)>3]
words_4

['quick', 'brown', 'jumps', 'over', 'lazy']